<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(${author.getName()})"></head>
<body>

<nav th:replace="layout :: navbar ('authors')"></nav>

<div class="container">
    <h1 th:text="${author.getName()}">Author page</h1>

    <p>Name: <span th:text="${author.getName()}"></span></p>

    <form th:action="@{/authors/} + ${author.getId()}" th:object="${author}" method="post" class="form-horizontal">
        <div class="form-group" th:classappend="${#fields.hasErrors('id')} ? 'has-error has-feedback'">
            <label class="control-label col-sm-2" for="id">ID: </label>
            <div class="col-sm-4">
                <input type="text" th:field="*{id}" title="ID" class="form-control"/>
                <span class="glyphicon form-control-feedback" th:classappend="${#fields.hasErrors('id')} ? 'glyphicon-remove'"></span>
                <div class="feedback" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error has-feedback'">
            <label class="control-label col-sm-2" for="name">Name: </label>
            <div class="col-sm-4">
                <input type="text" th:field="*{name}" title="Name" class="form-control"/>
                <span class="glyphicon form-control-feedback" th:classappend="${#fields.hasErrors('name')} ? 'glyphicon-remove'"></span>
                <div class="feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-save"></i> Save
                </button>
                <a th:href="@{/authors/} + ${author.getId()}" class="btn btn-warning">
                    <i class="glyphicon glyphicon-no"></i> Cancel
                </a>
            </div>
        </div>
    </form>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>