<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Authors list')"></head>
<body>

<nav th:replace="layout :: navbar ('authors')"></nav>

<div class="container">
    <h1>Authors list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="author: ${authors}">
                <td>
                    <span th:text="${author.id}">ID</span>
                </td>
                <td>
                    <a th:href="@{/authors/} + ${author.id}"
                       th:text="${author.name}">Author's link</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div th:replace="layout :: paging(${authors})"></div>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>