<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(${book.getTitle()})"></head>
<body>

<nav th:replace="layout :: navbar ('books')"></nav>

<div class="container">
    <h1 th:text="${book.getTitle()}">Book page</h1>

    <p>Title: <span th:text="${book.getTitle()}"></span></p>
    <p>Author: <span th:include="layout :: enlistAuthors(${book.getAuthors()})"></span></p>
    <p>Publisher: <a
            th:href="@{/publishers/} + ${book.getPublisher().getId()}"
            th:text="${book.getPublisher().getTitle()}"></a>
    </p>
    <p>ISBN: <span th:text="${book.getIsbn()}"></span></p>

    <form th:action="@{/book/} + ${book.getId()}" method="post" class="form-horizontal">
        <div th:replace="layout :: formInput('id', 'ID', 'text', ${book.getId()})"></div>
        <div th:replace="layout :: formInput('title', 'Title', 'text', ${book.getTitle()})"></div>
        <div th:replace="layout :: formInput('publisher', 'Publisher', 'text', ${book.getPublisher().getTitle()})"></div>
        <div th:replace="layout :: formInput('authors', 'Authors', 'text', ${book.getAuthors()})"></div>
        <div th:replace="layout :: formInput('isbn', 'ISBN', 'text', ${book.getIsbn()})"></div>
    </form>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>