<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(${book.getTitle()})"></head>
<body>

<nav th:replace="layout :: navbar ('books')"></nav>

<div class="container">
    <h1 th:text="${book.getTitle()}">Book page</h1>

    <p>Title: <span th:text="${book.getTitle()}"></span></p>
    <p>Author: <span th:include="layout :: enlistAuthors(${book.getAuthors()})"></span></p>
    <p>Publisher: <a
            th:if="${book.getPublisher()}"
            th:href="@{/publishers/} + ${book.getPublisher().getId()}"
            th:text="${book.getPublisher().getTitle()}"></a>
    </p>
    <p>ISBN: <span th:text="${book.getIsbn()}"></span></p>

    <form th:action="@{/books/}" th:object="${book}" method="post" class="form-horizontal">
        <div th:replace="layout :: formInput('id', 'ID', 'text', *{id})"></div>
        <div th:replace="layout :: formInput('title', 'Title', 'text', *{title})"></div>
        <div th:replace="layout :: objectSelector('publisher', 'Publisher', *{publisher}, ${publishers})"></div>
        <div th:replace="layout :: objectMultiSelector('authors', 'Authors', *{authors}, ${authors})"></div>
        <div th:replace="layout :: formInput('isbn', 'ISBN', 'text', *{isbn})"></div>

        <div th:replace="layout :: objectButtons(@{/books/} + ${book.getId()})"></div>
    </form>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>