<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Books list')"></head>
<body>

<nav th:replace="layout :: navbar ('books')"></nav>

<div class="container">
    <h1>Books list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Authors</th>
            <th>Publisher</th>
            <th>ISBN</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="books" type="java.util.List<testcase.library.entity.Book>"*/-->
        <tr th:each="book: ${books}">
            <td>
                <span th:text="${book.id}">ID</span>
            </td>
            <td >
                <a th:href="@{/books/} + ${book.id}"
                   th:text="${book.title}">Book link</a>
            </td>
            <td th:include="layout :: enlistAuthors(${book.authors})">Authors links</td>
            <td>
                <a th:href="@{/publishers/} + ${book.publisher.id}"
                   th:text="${book.publisher.title}">Publisher link</a>
            </td>
            <td th:text="${book.isbn}">ISBN</td>
        </tr>
        </tbody>
    </table>

    <div th:replace="layout :: paging(${books})"></div>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>