<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: head('Items list')"></head>
<body>

<nav th:replace="layout :: navbar ('items')"></nav>

<div class="container">
    <h1>Items list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Book title</th>
            <th>Status</th>
            <th sec:authorize="hasAnyRole('LIBRARIAN', 'ADMIN')">User name</th>
            <th>Place</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item: ${items}">
                <td>
                    <a th:href="@{/items/} + ${item.getId()}"
                       th:text="${item.getId()}"></a>
                </td>
                <td>
                    <a th:href="@{/books/} + ${item.getBook().getId()}"
                       th:text="${item.getBook().getTitle()}">book title</a>
                </td>
                <td th:text="${item.getStatus()}">status</td>
                <td sec:authorize="hasAnyRole('LIBRARIAN', 'ADMIN')">
                    <a th:href="@{/users/} + ${item.getHolder().getId()}"
                       th:text="${item.getHolder().getName()}">user name</a>
                </td>
                <td th:text="${item.getPlace()}">place</td>
            </tr>
        </tbody>
    </table>

    <div th:replace="layout :: paging(${items})"></div>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>