<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: head('Items list')"></head>
<body>

<nav th:replace="layout :: navbar ('items')"></nav>

<div class="container">
    <h1>Items list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Book title</th>
            <th>Status</th>
            <th sec:authorize="hasAnyRole('LIBRARIAN', 'ADMIN')">User name</th>
            <th>Place</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="items" type="java.util.List<testcase.library.entity.Item>"*/-->
            <tr th:each="item: ${items}">
                <td>
                    <a th:href="@{/items/} + ${item.id}"
                       th:text="'#' + ${item.id}">Item Link</a>
                </td>
                <td>
                    <a th:href="@{/books/} + ${item.book.id}"
                       th:text="${item.book.title}">Book link</a>
                </td>
                <td>
                    <span th:text="${item.status}" th:class="'label label-'+${item.status.cssClass}">STATUS</span>
                </td>
                <td sec:authorize="hasAnyRole('LIBRARIAN', 'ADMIN')">
                    <a th:if="${item.holder}" th:href="@{/users/} + ${item.holder.id}"
                       th:text="${item.holder.name}">User name</a>
                </td>
                <td th:text="${item.place}">place</td>
            </tr>
        </tbody>
    </table>

    <div th:replace="layout :: paging(${items})"></div>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>