<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: head(${title})"></head>
<body>

<nav th:replace="layout :: navbar ('items')"></nav>

<div class="container">
    <!--/*@thymesVar id="item" type="testcase.library.entity.Item"*/-->
    <h2 th:text="${title}">Item page</h2>

    <p sec:authorize="hasRole('LIBRARIAN')">ID: <span th:text="${item.id}"></span></p>
    <p th:if="${item.book}">
        Book: <a th:href="@{/books/} + ${item.book.id}"
                th:text="${item.book.title}">Book Title</a></p>
    <p>Status: <span th:text="${item.status}" th:class="'label label-'+${item.status.cssClass}"></span></p>
    <p sec:authorize="hasRole('LIBRARIAN')" th:if="${item.holder}">
        Holder: <a th:href="@{/users/} + ${item.holder.id}"
                    th:text="${item.holder.name}"></a></p>
    <p>Place: <span th:text="${item.place}"></span></p>
    <p th:if="${item.dueDate}">Due date: <span th:text="${item.dueDate}"></span></p>

    <div sec:authorize="hasRole('LIBRARIAN')" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Actions</h3>
        </div>
        <div class="panel-body form-horizontal">
            <form th:action="@{/items/} + ${item.id} + '/delete'" th:object="${item}" method="post" class="form-group">
                <!--/*@thymesVar id="DELETED" type="testcase.library.entity.ItemStatus"*/-->
                <div class="col-sm-2">
                    <input type="submit" value="Delete" th:class="'btn btn-'+${DELETED.cssClass} + ' pull-right'"/>
                </div>
            </form>
            <form th:action="@{/items/} + ${item.id} + '/hide'" th:object="${item}" method="post" class="form-group">
                <!--/*@thymesVar id="DRAFT" type="testcase.library.entity.ItemStatus"*/-->
                <div class="col-sm-2">
                    <input type="submit" value="Hide" th:class="'btn btn-'+${DRAFT.cssClass} + ' pull-right'"/>
                </div>
            </form>
            <form th:action="@{/items/} + ${item.id} + '/shelf'" th:object="${item}" method="post" class="form-group">
                <!--/*@thymesVar id="ON_SHELF" type="testcase.library.entity.ItemStatus"*/-->
                <div class="col-sm-2">
                    <input type="submit" value="Put on shelf" th:class="'btn btn-'+${ON_SHELF.cssClass} + ' pull-right'"/>
                </div>
                <div class="col-sm-4">
                    <input type="text" th:field="*{place}" class="form-control"/>
                </div>
            </form>
            <form th:action="@{/items/} + ${item.id} + '/give'" th:object="${item}" method="post" class="form-group">
                <!--/*@thymesVar id="ON_HANDS" type="testcase.library.entity.ItemStatus"*/-->
                <div class="col-sm-2">
                    <input type="submit" value="Give" th:class="'btn btn-'+${ON_HANDS.cssClass} + ' pull-right'"/>
                </div>
                <div class="col-sm-4">
                    <select name="user" title="user" class="selectpicker form-control" data-live-search="true">
                        <option
                                th:each="u: ${users}"
                                th:text="${u.name}"
                                th:value="${u.id}"
                                th:selected="${item.holder} != null ? ${item.holder} == ${u}">
                            option
                        </option>
                    </select>
                </div>
            </form>
            <form th:action="@{/items/} + ${item.id} + '/return'" th:object="${item}" method="post" class="form-group">
                <!--/*@thymesVar id="RETURNED" type="testcase.library.entity.ItemStatus"*/-->
                <div class="col-sm-2">
                    <input type="submit" value="Return" th:class="'btn btn-'+${RETURNED.cssClass} + ' pull-right'"/>
                </div>
            </form>
        </div>
    </div>

    <th:block sec:authorize="hasRole('LIBRARIAN')">
        <div th:replace="logs-list :: logTable(${title} + ' logs', ${logs})"></div>
    </th:block>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>