<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Items list')"></head>
<body>

<nav th:replace="layout :: navbar ('items')"></nav>

<div class="container">
    <h1>Items list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Book title</th>
            <th>Status</th>
            <th>User name</th>
            <th>Place</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item: ${items}">
                <td th:text="${item.getId()}">id</td>
                <td th:text="${item.getBook().getTitle()}">book title</td>
                <td th:text="${item.getStatus()}">status</td>
                <td th:text="${item.getHolder()}">user name</td>
                <td th:text="${item.getPlace()}">place</td>
            </tr>
        </tbody>
    </table>

    <div th:replace="layout :: paging(${items})"></div>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>