<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title} + ': The Great Library'">Layout page: The Great Library</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-table.css}" rel="stylesheet"/>
    <link th:href="@{/css/library.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-table.js}"></script>
</head>
<body>

<nav class="navbar navbar-inverse" th:fragment="navbar(active)">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">The Great Library</a>
        </div>

        <ul class="nav navbar-nav">
            <li th:class="${active == 'items'}? 'active'">
                <a th:href="@{/items}">Items</a>
            </li>
            <li th:class="${active == 'books'}? 'active'">
                <a th:href="@{/books}">Books</a>
            </li>
            <li th:class="${active == 'authors'}? 'active'">
                <a th:href="@{/authors}">Authors</a>
            </li>
            <li th:class="${active == 'publishers'}? 'active'">
                <a th:href="@{/publishers}">Publishers</a>
            </li>
            <li th:class="${active == 'users'}? 'active'">
                <a th:href="@{/users}">Users</a>
            </li>
            <li th:class="${active == 'logs'}? 'active'">
                <a th:href="@{/logs}">Logs</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/user}" th:text="${#httpServletRequest.remoteUser}">User name</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="javascript: document.logoutForm.submit()">
                    <span class="glyphicon glyphicon-log-out"></span> Sign out
                </a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden="hidden" type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Layout page</h1>
</div>

<form th:action="@{/test}" method="post" class="form-horizontal">
    <div class="form-group" th:fragment="formInput(name, title, type, value)">
        <label class="control-label col-sm-2" th:attr="for=${name}" th:text="${title} + ': '">title: </label>
        <div class="col-sm-4">
            <input th:type="${type}" th:name="${name}" th:id="${name}" th:title="${title}" th:value="${value}? ${value} : ''" class="form-control"/>
        </div>
    </div>
    <div class="form-group" th:fragment="objectInput(name, title, type, value)" th:with="hasErrors=${#fields.hasErrors('__${name}__')}" th:classappend="${hasErrors} ? 'has-error has-feedback'">
        <label class="control-label col-sm-2" th:attr="for=${name}" th:text="${title} + ': '">label: </label>
        <div class="col-sm-4">
            <input th:type="${type}" th:name="${name}" th:id="${name}" th:value="${value}" th:title="${title}" class="form-control"/>
            <span class="glyphicon form-control-feedback" th:classappend="${hasErrors} ? 'glyphicon-remove'"></span>
            <div class="feedback" th:if="${hasErrors}">
                <span th:each="error: ${#fields.errors('__${name}__')}" th:text="${error}">Errors</span>
            </div>
        </div>
    </div>
    <div class="form-group" th:fragment="formButton(title)">
        <label class="control-label col-sm-2"></label>
        <div class="col-sm-2">
            <input type="submit" th:value="${title}" class="btn btn-primary form-control"/>
        </div>
    </div>
</form>

<div class="paging" th:fragment="paging(page)">
    <ul class="pagination" th:with="current=${page.getNumber() + 1}" th:if="${page.getTotalPages() > 0}">
        <li th:if="${!page.isFirst()}">
            <a href="?page=0">&lt;&lt; first</a>
        </li>
        <li th:if="${page.hasPrevious()}">
            <a th:href="'?page=' + ${page.getNumber() - 1}"> &lt; prev</a>
        </li>

        <th:block th:each="i: ${#numbers.sequence(1, page.getTotalPages())}">
            <li th:if="${i == current}" class="active">
                <span th:text="${current}">current page</span>
            </li>
            <li th:if="${i != current}">
                <a th:href="'?page=' + ${i - 1}" th:text="${i}">i page</a>
            </li>
        </th:block>

        <li th:if="${page.hasNext()}">
            <a th:href="'?page=' + ${page.getNumber() + 1}">next &gt;</a>
        </li>
        <li th:if="${!page.isLast()}">
            <a th:href="'?page=' + ${page.getTotalPages() - 1}"> last &gt;&gt; </a>
        </li>
    </ul>
</div>

<div th:fragment="enlistAuthors(authors)">
    <span class="authors-list" th:each="author: ${authors}">
        <a th:href="@{/authors/} + ${author.getId()}" th:text="${author.getName()}">author's name</a>
    </span>
</div>


<footer class="footer" th:fragment="footer">
    <div class="container">
        <p class="text-muted credit">
            Library testcase &copy; 2018
            <a href="https://github.com/gennady-lebedev">Gennady Lebedev</a>
        </p>
    </div>
</footer>
</body>
</html>