<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title} + ': The Great Library'">Layout page: The Great Library</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-table.css}" rel="stylesheet"/>
    <link th:href="@{/css/library.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-table.js}"></script>
</head>
<body>

<nav class="navbar navbar-inverse" th:fragment="navbar(active)">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">The Great Library</a>
        </div>

        <ul class="nav navbar-nav">
            <li th:class="${active == 'books'}? 'active'">
                <a th:href="@{/books}">Books</a>
            </li>
            <li th:class="${active == 'items'}? 'active'">
                <a th:href="@{/items}">Items</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Layout page</h1>
</div>

<footer class="footer" th:fragment="footer">
    <div class="container">
        <p class="text-muted credit">
            Library testcase &copy; 2018
            <a href="https://github.com/gennady-lebedev">Gennady Lebedev</a>
        </p>
    </div>
</footer>
</body>
</html>