<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Login page')"></head>
<body>

<nav th:replace="layout :: navbar ('login')"></nav>

<div class="container">
    <h1>Sign in</h1>

    <form th:action="@{/login}" method="post" class="form-horizontal">
        <div th:replace="layout :: formInput('username', 'User name', 'text', '')"></div>
        <div th:replace="layout :: formInput('password', 'Password', 'password', '')"></div>
        <div class="form-group">
            <label class="control-label col-sm-2"></label>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-user"></i> Sign in
                </button>
            </div>
        </div>
    </form>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>