<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Login page')"></head>
<body>

<nav th:replace="layout :: navbar ('login')"></nav>

<div class="container">
    <h1>Login page</h1>

    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post" class="form-horizontal">
        <div th:replace="layout :: formInput('username', 'User name', 'text', '')"></div>
        <div th:replace="layout :: formInput('password', 'Password', 'password', '')"></div>
        <div th:replace="layout :: formButton('Sign in')"></div>
    </form>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>