<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Item Logs')"></head>
<body>

<nav th:replace="layout :: navbar ('logs')"></nav>

<div class="container">
    <h1>Items list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Approved by</th>
            <th>When</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="logs" type="java.util.List<testcase.library.entity.ItemLog>"*/-->
            <tr th:each="log: ${logs}">
                <td th:text="${log.id}">ID</td>
                <td>
                    <a th:href="@{/items/} + ${log.item.id}"
                       th:text="${log.item.book.title} + ' #' + ${log.item.id}">Item link</a>
                </td>
                <td>
                    <a th:href="@{/users/} + ${log.who.id}"
                       th:text="${log.who.name}">Approved by</a>
                </td>
                <td th:text="${log.when}">When</td>
            </tr>
        </tbody>
    </table>

    <div th:replace="layout :: paging(${logs})"></div>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>