<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Logs')"></head>
<body>

<nav th:replace="layout :: navbar ('logs')"></nav>

<div class="container">
    <h1>Items list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Approved by</th>
            <th>When</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="log: ${logs}">
                <td th:text="${log.getId()}">id</td>
                <td>
                    <a th:href="@{/items/} + ${log.getItem().getId()}"
                       th:text="${log.getItem().getBook().getTitle()} + ' #' + ${log.getItem().getId()}"></a>
                </td>
                <td>
                    <a th:href="@{/users/} + ${log.getWho().getId()}"
                       th:text="${log.getWho().getName()}">approved by</a>
                </td>
                <td th:text="${log.getWhen()}">when</td>
            </tr>
        </tbody>
    </table>

    <div th:replace="layout :: paging(${logs})"></div>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>