<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Publishers list')"></head>
<body>

<nav th:replace="layout :: navbar ('publishers')"></nav>

<div class="container">
    <h1>Publishers list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="publisher: ${publishers}">
                <td>
                    <a th:href="@{/publishers/} + ${publisher.getId()}"
                       th:text="${publisher.getId()}"></a>
                </td>
                <td th:text="${publisher.getTitle()}">title</td>
            </tr>
        </tbody>
    </table>

    <div th:replace="layout :: paging(${publishers})"></div>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>