<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Publishers list')"></head>
<body>

<nav th:replace="layout :: navbar ('publishers')"></nav>

<div class="container">
    <h1>Publishers list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="publishers" type="java.util.List<testcase.library.entity.Publisher>"*/-->
            <tr th:each="publisher: ${publishers}">
                <td>
                    <span th:text="${publisher.id}">ID</span>
                </td>
                <td>
                    <a th:href="@{/publishers/} + ${publisher.id}"
                    th:text="${publisher.title}">Publisher link</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div th:replace="layout :: paging(${publishers})"></div>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>