<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Users list')"></head>
<body>

<nav th:replace="layout :: navbar ('users')"></nav>

<div class="container">
    <h1>Users list</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="users" type="java.util.List<testcase.library.entity.User>"*/-->
            <tr th:each="user: ${users}">
                <td>
                    <span th:text="${user.id}"></span>
                </td>
                <td>
                    <a th:href="@{/users/} + ${user.id}"
                       th:text="${user.name}">User link</a>
                </td>
                <td th:text="${user.role}">Role</td>
            </tr>
        </tbody>
    </table>

    <div th:replace="layout :: paging(${users})"></div>
</div>

<footer th:replace="layout :: footer"></footer>
</body>
</html>